# Python Basics
Hier m√∂chten wir uns in die Grundlagen von Python einfinden.

In [1]:
print ("Hello world!")

Hello world!

In [5]:
# Dies ist ein Kommentar und wird nicht ausgegeben 
print("Something")

Something

In [6]:
name = "Lovelace"
print (name)

Lovelace

In [7]:
# Strings
first_name = "Ada"
print (first_name)

Ada

In [8]:
first_name

'Ada'

In [10]:
# Intergers - Ganzzahlen
age = 73
print (age)

73

In [11]:
# floats - Gleitkommazahlen
size = 1.7123
print (size)

1.7123

In [12]:
# Boolean - Boolsche Werte
knows_math = True
likes_gardening = False
print (knows_math)
print (likes_gardening)

True
False

In [13]:
type (size)

float

In [14]:
type (knows_math)

bool

In [15]:
type (age)

int

## Operatoren

In [16]:
5 + 5

10

In [17]:
10 * 5

50

In [18]:
age * 100

7300

In [19]:
name + name

'LovelaceLovelace'

In [20]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [21]:
# Type conversion
str (age)

'73'

In [22]:
name + str (age)

'Lovelace73'

In [23]:
name/age

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [24]:
name_of_articles = "50"

In [25]:
name_of_articles / 10

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [26]:
int (name_of_articles) / 10

5.0

## Funktionen und Methoden

In [27]:
len (name)

8

In [28]:
len(age)

TypeError: object of type 'int' has no len()

In [29]:
name.upper()

'LOVELACE'

In [30]:
name.count ("e")

2

In [31]:
name.replace("lace", " is everywhere")

'Love is everywhere'

## Listen und Dictionaries

In [32]:
# Listen
names = ["Lovelace", "Darwin", "Currie", "Hawking"]

In [33]:
names

['Lovelace', 'Darwin', 'Currie', 'Hawking']

In [34]:
names [1]

'Darwin'

In [35]:
names [0]

'Lovelace'

In [36]:
names [-1]

'Hawking'

In [37]:
names [0:3]

['Lovelace', 'Darwin', 'Currie']

In [38]:
# Dictionary (Schl√ºssel-Werte-Paare)
authors_and_birth_years = {"Lovelace" : 1815,
                          "Darwin" : 1809,
                          "Noether" : 1882}

In [39]:
authors_and_birth_years ["Darwin"]

1809

## for-loops (for-Schleifen)

In [40]:
for person in names:
    print (person + " did awesome stuff.")

Lovelace did awesome stuff.
Darwin did awesome stuff.
Currie did awesome stuff.
Hawking did awesome stuff.

In [41]:
for person in names:
    print (person + " did awesome stuff.")
    print ("--------")
print ("========")

Lovelace did awesome stuff.
--------
Darwin did awesome stuff.
--------
Currie did awesome stuff.
--------
Hawking did awesome stuff.
--------
========

In [42]:
%who

age	 authors_and_birth_years	 first_name	 knows_math	 likes_gardening	 name	 name_of_articles	 names	 person
size

In [43]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Conditionals (bedingte Anweisungen)

In [44]:
20 > 10

True

In [45]:
20 < 10

False

In [46]:
temp = 20
if temp > 15:
    print (" it¬¥s warm.")

 it¬¥s warm.

In [49]:
temp = 15
if temp >= 15:
    print (" It¬¥s warm.")
else:
    print (" It¬¥s cold.")

 It¬¥s warm.

In [ ]:
import os
print (os.path.abspath(os.))